.avatar {
  @apply relative cursor-pointer;
  .image {
    @apply rounded-full z-50;
  }

  .imageBG {
    background-color: #343338;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
