.nav {
  @apply w-[90%] left-0 relative z-50 ml-12 mt-5 flex  justify-between items-center z-50;

  .logo {
    @apply cursor-pointer -mt-1 ml-4;
    span {
      @apply block font-bold text-center  text-xl;
      &:first-child {
        @apply text-primary-pink;
      }

      &:last-child {
        @apply text-[#DBDBDB];
      }
    }
  }
  .search {
    @apply flex justify-between;

    .utils {
      @apply flex gap-5 items-center;
      .input {
        @apply relative;
        input {
          @apply bg-input-bg-1 py-2 px-11 w-96 block relative rounded-md text-white;
        }

        .searchIcon {
          @apply absolute text-[#7F8996] cursor-pointer transition-all hover:text-[#5d636a];
          position: absolute;
          top: 50%;
          left: 6%;
          transform: translate(-50%, -50%);
        }
      }

      .icons {
        @apply text-[#7F8996] cursor-pointer hover:text-[#5d636a] transition-all;
      }
    }
  }

  .user {
    @apply flex justify-end items-center;

    > div {
      @apply ml-8 flex gap-7;

      span {
        @apply font-bold text-white;
      }

      p {
        @apply font-semibold text-[#7F8996];
      }
    }
  }
}
