.container {
  display: grid;
  grid-template-areas:
    'sidebar navbar'
    'sidebar content'
    'footer footer';

  grid-template-columns: 240px auto;
  grid-template-rows: 0;
  min-height: 100vh;

  .sidebar {
    grid-area: sidebar;
  }
  .content {
    position: relative;
    z-index: 1;
    grid-area: content;
  }

  .footer {
    grid-area: footer;
  }

  .navbar {
    grid-area: navbar;
  }
}
